/*Colors*/
/*Maps*/
/* Fuentes usadas */
html {
  font-family: "Bangers", cursive !important; }

body {
  font-family: "Bangers", cursive !important; }

div {
  font-family: "Courier New", Courier, monospace, cursive !important; }

p {
  font-family: Arial, Helvetica, sans-serif; }

/* Color de fuente */
h1 {
  color: #ff0000; }

p {
  color: #070003; }

a {
  color: #0000ff; }

/* Menu de pagina */
.logoMarca {
  margin-bottom: auto;
  margin-top: auto; }

header nav ul {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 1%;
  background-color: #440909;
  list-style-type: none; }
  header nav ul li a {
    text-decoration: none;
    color: white; }
  header nav ul :hover {
    text-decoration: underline;
    text-transform: uppercase;
    color: #ecf1fe; }

/* Botones de informacion */
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #06080c !important;
  border-color: #ecf1fe !important;
  text-decoration: none;
  margin-left: 19%; }

.subtitulo {
  color: white;
  letter-spacing: 10px;
  font-weight: 100px;
  text-align: center;
  background-color: #06080c;
  margin-left: 30%;
  margin-right: 30%;
  padding: 1%; }

#seccionUno {
  background-image: linear-gradient(to top, #5f0303, black); }

/* Seccion dos de la pagina principal */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; }

.segundoParrafo {
  background-color: #ecf1fe;
  text-align: center;
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-style: groove;
  border-color: #3a5795;
  border-width: 5px;
  overflow: auto;
  margin-top: 1%;
  margin-left: 20%;
  margin-right: 20%; }

/* Pagina About */
.about {
  height: 1000px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: left;
  margin-left: 20%; }
  .about .box {
    width: 500px;
    height: 200px; }
  .about .articuloAbout {
    background-color: #ecf1fe;
    margin: 5%;
    padding: 1%;
    text-align: center; }
  .about .fotos {
    margin-left: 40%;
    margin-top: -21%;
    margin-right: 30%;
    width: -50%;
    height: 50%; }
  .about .boton {
    border: none;
    color: white;
    background-color: darkgoldenrod;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s; }
  .about .boton:hover {
    background-color: darkorange;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

/* Pagina Store */
.tienda {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 6%;
  margin-top: 2%;
  align-content: space-between;
  justify-content: center; }

table {
  color: brown;
  background-color: #ecf1fe;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: fit-content;
  align-content: space-between; }
  table #tabla {
    color: #440909;
    background-color: #ecf1fe; }
  table tr {
    color: darkorchid; }

.caja {
  width: 500px;
  height: 200px; }
  .caja :hover {
    transform: scale(1.2); }

.articulo1 {
  background-color: #ecf1fe;
  margin: 10px;
  padding: 1%;
  text-align: center; }

.articulo2 {
  background-color: #ecf1fe;
  margin: 10px;
  padding: 1%;
  text-align: center; }

.articulo3 {
  background-color: #ecf1fe;
  margin: 10px;
  padding: 1%;
  text-align: center; }

.articulo4 {
  background-color: #ecf1fe;
  margin: 10px;
  padding: 1%;
  text-align: center; }

.articulo5 {
  background-color: #ecf1fe;
  margin: 10px;
  padding: 1%;
  text-align: center; }

.articulo6 {
  background-color: #ecf1fe;
  margin: 10px;
  padding: 1%;
  text-align: center; }

/* Pagina News */
header[role="banner"] {
  grid-area: header; }

main[role="main"] {
  grid-area: main; }

aside[role="complementary"] {
  grid-area: aside; }

.grid,
.subgrid {
  display: grid;
  grid-template-columns: minmax(0, 1fr); }

.grid {
  grid-template-areas: "header" "main" "aside";
  width: 100%; }

.subgrid {
  width: calc(100% + 2rem);
  margin: 0 -1rem; }

.grid-item,
.subgrid-item {
  padding: 1rem;
  background-color: lightcyan; }
  .grid-item img,
  .subgrid-item img {
    display: block;
    height: auto;
    width: 70%;
    margin-left: auto;
    margin-right: auto; }

@media all and (min-width: 576px) {
  .subgrid {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    margin-bottom: 1rem; }
  .subgrid-item {
    padding-bottom: 0.25rem; } }

@media all and (min-width: 992px) {
  .grid {
    grid-template-areas: "header header header" "main main aside";
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr); } }

/* Pagina Contact */
#seccionFormulario {
  display: block;
  background-color: #ecf1fe;
  text-align: center;
  align-items: center;
  padding: 2%;
  margin-right: 70%;
  margin-left: 10%;
  margin-top: 5%; }
  #seccionFormulario .titulo:hover {
    color: cadetblue;
    text-transform: capitalize;
    text-decoration: underline; }
  #seccionFormulario div:hover {
    color: #440909;
    text-decoration: underline; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  nav ul li {
    display: inline-block;
    margin-left: -2px;
    margin-right: 2em; }

.piePagina {
  background-color: #440909;
  width: auto;
  height: 5%;
  padding: 1%;
  margin: 5px;
  margin-top: 10%;
  text-align: center; }
  .piePagina p {
    color: #ecf1fe;
    font-size: 150%; }

.rs {
  border: 50px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  transition-duration: 0.9s; }
  .rs :hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px; }

.twitter {
  background-color: #3a5795; }

.facebook {
  background-color: cornflowerblue; }

.mail {
  background-color: coral; }

.youtube {
  background-color: brown; }

.contacto {
  display: block;
  margin-left: 150%;
  margin-top: -100%; }

.card-body {
  background-color: #ecf1fe; }

.uno {
  background-color: #76b900;
  color: white;
  text-align: center;
  padding: 2rem;
  margin: 0.5rem;
  margin-left: 35%;
  margin-right: 35%; }

.dos {
  background-color: #800011;
  color: white;
  text-align: center;
  padding: 2rem;
  margin: 0.5rem;
  margin-left: 35%;
  margin-right: 35%; }

@media only screen and (max-width: 320px) {
  body {
    background-color: goldenrod; } }

@media only screen and (max-width: 767px) and (min-width: 321px) {
  body {
    background-color: darkgrey; } }

@media only screen and (min-width: 768px) {
  body {
    background-color: white; } }
