/*Colors*/
/*Maps*/
html {
  font-family: "Bangers", cursive !important; }

body {
  font-family: "Bangers", cursive !important; }

div {
  font-family: "Courier New", Courier, monospace, cursive !important; }

p {
  font-family: Arial, Helvetica, sans-serif; }

h1 {
  color: #ff0000; }

p {
  color: #860441; }

a {
  color: #0000ff; }

.logoMarca {
  margin-bottom: auto;
  margin-top: auto; }

header nav ul {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 1%;
  background-color: #440909;
  list-style-type: none; }
  header nav ul li a {
    text-decoration: none;
    color: white; }
  header nav ul :hover {
    text-decoration: underline;
    text-transform: uppercase;
    color: #ecf1fe; }

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #06080c !important;
  border-color: #ecf1fe !important;
  text-decoration: none;
  margin-left: 19%; }

.subtitulo {
  color: white;
  letter-spacing: 10px;
  font-weight: 100px;
  text-align: center;
  background-color: #06080c;
  margin-left: 30%;
  margin-right: 30%;
  padding: 1%; }

#seccionUno {
  background-image: linear-gradient(to top, #5f0303, black); }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; }

.segundoParrafo {
  background-color: #ecf1fe;
  border-style: dashed;
  border-color: #440909;
  border-width: 3px;
  overflow: auto;
  margin-left: 20%;
  margin-right: 20%; }

.about {
  height: 1000px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: left;
  margin-left: 20%; }
  .about .box {
    width: 500px;
    height: 200px; }
  .about .articuloAbout {
    background-color: #ecf1fe;
    margin: 5%;
    padding: 1%;
    text-align: center; }
  .about .fotos {
    margin-left: 40%;
    margin-top: -21%;
    margin-right: 30%;
    width: -50%;
    height: 50%; }
  .about .boton {
    border: none;
    color: white;
    background-color: darkgoldenrod;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s; }
  .about .boton:hover {
    background-color: darkorange;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.tienda {
  height: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 6%;
  margin-top: 2%;
  align-content: space-between;
  justify-content: center; }

table {
  color: brown;
  background-color: #ecf1fe;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: fit-content;
  align-content: space-between; }
  table #tabla {
    color: #440909;
    background-color: #ecf1fe; }
  table tr {
    color: darkorchid; }

.caja {
  width: 500px;
  height: 200px; }
  .caja :hover {
    transform: scale(1.2); }

.articulo1 {
  background-color: #ecf1fe;
  margin: 10px;
  padding: 1%;
  text-align: center; }

.articulo2 {
  background-color: #ecf1fe;
  margin: 10px;
  padding: 1%;
  text-align: center; }

.articulo3 {
  background-color: #ecf1fe;
  margin: 10px;
  padding: 1%;
  text-align: center; }

.articulo4 {
  background-color: #ecf1fe;
  margin: 10px;
  padding: 1%;
  text-align: center; }

.articulo5 {
  background-color: #ecf1fe;
  margin: 10px;
  padding: 1%;
  text-align: center; }

.articulo6 {
  background-color: #ecf1fe;
  margin: 10px;
  padding: 1%;
  text-align: center; }

main {
  display: grid;
  grid-template-areas: "grid1 grid1 aside" "grid3 grid4 aside" "grid3 grid4 grid2";
  grid-template-columns: 5fr 4fr 3fr;
  grid-template-rows: 100px 500px 200px;
  column-gap: 10px;
  row-gap: 10px; }
  main .grid1 {
    color: #440909;
    background-color: #ecf1fe;
    grid-area: grid1; }
    main .grid1 h2 {
      color: #06080c;
      margin-left: 15%; }
    main .grid1 p {
      text-align: center; }
  main .grid2 {
    background-color: cornflowerblue;
    grid-area: grid2; }
    main .grid2 h2 {
      text-align: right;
      margin-right: 10%; }
    main .grid2 p {
      text-align: center;
      font-size: 250%; }
  main .grid3 {
    background-color: darkcyan;
    grid-area: grid3; }
    main .grid3 h2 {
      text-align: center; }
    main .grid3 p {
      color: #ecf1fe;
      text-align: justify;
      padding: 15px; }
    main .grid3 img {
      align-self: auto; }
  main .grid4 {
    background-color: darkcyan;
    grid-area: grid4; }
    main .grid4 h2 {
      text-align: center; }
    main .grid4 p {
      color: #ecf1fe;
      text-align: justify;
      padding: 15px; }
    main .grid4 img {
      display: block;
      margin-left: auto;
      margin-right: auto; }
  main .aside {
    background-color: lightblue;
    grid-area: aside; }

#seccionFormulario {
  display: block;
  background-color: #ecf1fe;
  text-align: center;
  align-items: center;
  padding: 2%;
  margin-right: 70%;
  margin-left: 10%;
  margin-top: 5%; }
  #seccionFormulario .titulo:hover {
    color: cadetblue;
    text-transform: capitalize;
    text-decoration: underline; }
  #seccionFormulario div:hover {
    color: #440909;
    text-decoration: underline; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  nav ul li {
    display: inline-block;
    margin-left: -2px;
    margin-right: 2em; }

.piePagina {
  background-color: #440909;
  width: auto;
  height: 5%;
  padding: 1%;
  margin: 5px;
  margin-top: 10%;
  text-align: center; }
  .piePagina p {
    color: #ecf1fe;
    font-size: 150%; }

.rs {
  border: 50px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  transition-duration: 0.9s; }
  .rs :hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px; }

.twitter {
  background-color: #3a5795; }

.facebook {
  background-color: cornflowerblue; }

.mail {
  background-color: coral; }

.youtube {
  background-color: brown; }

.contacto {
  display: block;
  margin-left: 150%;
  margin-top: -100%; }

.card-body {
  background-color: #ecf1fe; }

.uno {
  background-color: #76b900;
  color: white;
  text-align: center;
  padding: 2rem;
  margin: 0.5rem;
  margin-left: 40%;
  margin-right: 40%; }

.dos {
  background-color: #800011;
  color: white;
  text-align: center;
  padding: 2rem;
  margin: 0.5rem;
  margin-left: 40%;
  margin-right: 40%; }

@media only screen and (max-width: 320px) {
  body {
    background-color: goldenrod; } }

@media only screen and (max-width: 767px) and (min-width: 321px) {
  body {
    background-color: dodgerblue; } }

@media only screen and (min-width: 768px) {
  body {
    background-color: white; } }
